.wrapper {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  color: white;
}

.wrapper.small .icon {
  margin-right: 4px;
}

.wrapper.large .icon {
  margin-right: 16px;
}

.text {
  margin: 0;
}
