.MMM-social-counter .wrapper {
  display: flex;
  align-items: center;
}

.MMM-social-counter .icon {
  margin-right: 8px;
  color: white;
}

.MMM-social-counter .wrapper.small .icon {
  margin-right: 4px;
}

.MMM-social-counter .wrapper.large .icon {
  margin-right: 16px;
}

.MMM-social-counter .text {
  margin: 0;
}
